<launch>
    <!-- <arg name="map_file" default="$(find course_agv_gazebo)/config/map.yaml"/> -->
    <!-- Run the map server -->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->


	<node pkg="course_agv_slam" type="mapping.py" name="mapping" output="screen">
        <param name="map_width" value="25.0"/>
        <param name="map_height" value="25.0"/>
        <param name="map_resolution" value="0.2"/>
        <param name="range_threshold" value="0.5"/>
        <!-- change it according to the frame you are using -->
        <param name="frame_name" value="ekf_icp"/>
	</node>
    <!-- change it according to the localizing system you want to use. -->
    <include file="$(find course_agv_slam)/launch/localization.launch"/> 

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find course_agv_slam)/launch/course_agv.rviz" /> -->
</launch>
